{% extends "base.html" %}
{% block title_block %}
{{ obj.title}}
{% endblock %}

{% block main_content %}
           <div itemscope="">
                <link itemprop="image" href="//cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png">
                <div id="question-header">
                    <h1 itemprop="name">
                        <!-- Question title --><a href="" class="question-hyperlink">{{ obj.title}}</a>
                    </h1>
                </div>

                <div id="mainbar">

                    <div class="question" data-questionid="27363339" id="question">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="votecell">

                                        <div class="vote">
                                            <input type="hidden" name="_id_" value="27363339">

                                             <!-- Votes > --><span itemprop="upvoteCount" class="vote-count-post ">{{obj.likes.all|length }}</span>
                                            {% if  user.is_authenticated  %}
                                             {% if user in  obj.likes.all%}
                                              <a href="unlike_qst?qst_id={{ obj.id }}&uid={{ user.id }}">Дизлойc<br></a>
                                             {% else %}
                                              <a href="like_qst?qst_id={{ obj.id }}&uid={{ user.id }}">Лойс<br></a>
                                             {% endif %}
                                        {% endif %}
                                            <div class="favoritecount"> <b></b>
                                            </div>

                                        </div>

                                    </td>

                                    <td class="postcell">
                                        <div>
                                            <div class="post-text" itemprop="text">
                                                <!-- Question text -->
                                                        {{ obj.content }}
                                                <!-- Question text end -->
                                            </div>
                                            <div class="post-taglist">
                                                <!-- Tags -->
                                                 {% for t in obj.tags.all %}
                                                <a href="index?search_tag={{ t.id }}" class="post-tag" title="" rel="tag">{{ t.name }}</a>
                                                {% endfor %}
                                                <!-- Tags end -->
                                            </div>
                                                <div>
                                                    {% if obj.user_iduser == user %}
                                                    <small><a href="delete_qst?id={{ obj.id }}">  Видалити питання</a> </small><br>
                                                    {% endif %}
                                            </div>
                                            <table class="fw">
                                                <tbody>
                                                    <tr>
                                                        <td class="vt">
                                                            <div class="post-menu">
                                                            </div>
                                                        </td>
                                                        <td class="post-signature owner">
                                                            <div class="user-info ">
                                                                <div class="user-action-time">
                                                                    asked
                                                                    <span title="2014-12-08 17:20:06Z" class="relativetime">{{ obj.postdate }}</span>
                                                                </div>
{#                                                                <div class="user-gravatar32">#}
{#                                                                    <a href="link_to_user">#}
{#                                                                        <div>#}
{#                                                                            <img src="path_to_user_avatar.jpg" alt="" width="32" height="32"></div>#}
{#                                                                    </a>#}
{#                                                                </div>#}
                                                                <div class="user-details">
                                                                    <!-- Username and link --><a href="index?search_by_user={{ obj.user_iduser.id }}">{{ obj.user_iduser.username }}</a>
                                                                    <br>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="votecell"></td>
                                    <td>
                                        <div id="comments-link-27363339" data-rep="50" data-reg="true">
                                            <span class="js-link-separator dno">&nbsp;|&nbsp;</span>
                                            <a class="js-show-link comments-link dno" title="expand to show all comments on this post, or add one of your own" href="#" onclick=""></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="answers">

                        <a name="tab-top"></a>
                        <div id="answers-header">
                            <div class="subheader answers-subheader">
                                <h2>
                                    {{obj.answers.all|length }} Відповідей
                                    <span style="display:none;" itemprop="answerCount">1</span>
                                </h2>
                            </div>
                        </div>

                        <!-- Iterable item -->
                        {% for an in  obj.answers.all|dictsortreversed:"likes.count" %}
                        <div class="answer" itemscope="">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="votecell">

                                            <div class="vote">
                                                <!-- Votes > --><span itemprop="upvoteCount" class="vote-count-post ">{{an.likes.all|length}}</span>
                                                  {% if  user.is_authenticated  %}
                                                 {% if user in  an.likes.all%}
                                                      <a href="unlike_ans?ans_id={{ an.id }}&uid={{ user.id }}">Дизлойс</a>
                                                     {% else %}
                                                      <a href="like_ans?ans_id={{ an.id }}&uid={{ user.id }}">Лойс</a>
                                                 {% endif %}
                                            {% endif %}
                                            </div>
                                        </td>

                                        <td class="answercell">
                                            <div class="post-text" itemprop="text">
                                                {{ an.content }}
                                            </div>
                                            <div>
                                                                {% if an.user_iduser == user %}
                                                                <small><a href="delete_ans?id={{ an.id }}">   (✖) </a> </small>
                                                             {% endif %}
                                            </div>
                                            <table class="fw">
                                                <tbody>
                                                    <tr>
                                                        <td class="vt">
                                                            <div class="post-menu">
                                                            </div>
                                                        </td>
                                                        <td align="right" class="post-signature">
                                                            <div class="user-info user-hover">
                                                                <div class="user-action-time">
                                                                    answered
                                                                    <span title="2014-12-08 17:21:40Z" class="relativetime">{{ an.postdate }}</span>
                                                                </div>
{#                                                                <div class="user-gravatar32">#}
                                                                    <a href="index?search_by_user={{ an.user_iduser.id }}" >
{#                                                                        <div class="gravatar-wrapper-32">#}
{#                                                                            <img src="path_to_user_avatar.jpg" alt="" width="32" height="32"></div>#}
{#                                                                    </a>#}
{#                                                                </div>#}
                                                                <div class="user-details">
                                                                    <!-- Username and link > --><a href="index?search_by_user={{ an.user_iduser.id }}" > {{ an.user_iduser.username }}</a>
                                                                    <br>
{#                                                                    <span class="reputation-score" title="reputation score 48449" dir="ltr">48.4k</span>#}
{#                                                                    <span title="10 gold badges">#}
{#                                                                        <span class="badge1"></span>#}
{#                                                                        <span class="badgecount">10</span>#}
{#                                                                    </span>#}
{#                                                                    <span title="50 silver badges">#}
{#                                                                        <span class="badge2"></span>#}
{#                                                                        <span class="badgecount">50</span>#}
{#                                                                    </span>#}
{#                                                                    <span title="93 bronze badges">#}
{#                                                                        <span class="badge3"></span>#}
{#                                                                        <span class="badgecount">93</span>#}
{#                                                                    </span>#}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="votecell"></td>
                                        <td>
                                            <div id="comments-link" data-rep="50" data-reg="true">
                                                <span class="js-link-separator dno">&nbsp;|&nbsp;</span>
                                                <a class="js-show-link comments-link dno" title="expand to show all comments on this post, or add one of your own" href="#" onclick=""></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                        {% if  user.is_authenticated  %}
                        <a name="new-answer"></a>
                        <!-- Enter "action" > --><form id="post-form" action="details_add_answer" method="post" class="post-form">{% csrf_token %}
                            <h2 class="space">Ваша відповідь</h2>
                            <div id="post-editor" class="post-editor">
                                <div style="position: relative;">
                                    <div class="wmd-container">
                                        <!-- Text > --><textarea id="wmd-input" class="wmd-input processed" name="content" cols="92" rows="15" tabindex="101" data-min-length=""></textarea>
                                        <input type = "hidden" name="qst_id" value="{{ obj.id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-submit cbt">
                                <input id="submit-button" type="submit" value="Додати відповідь" tabindex="110">
                            </div>
                         {% else %}
                           <br> Щоб відповідати необхідно    <a href="login">увійти</a>.
                            {% endif %}
                        </form>

                    </div>
                </div>
                <div style="display:none" id="prettify-lang">default</div>
            </div>
{% endblock %}


