{% extends "base.html" %}
{% block title_block %}
obj.title
{% endblock %}

{% block main_content %}
    Запитав %USERNAME%<br>
    <h3>{{ obj.title }}</h3><br>
    <i>{{ obj.content }}</i><br>
    TAGS :
        {% for t in obj.tags.all %}
        <a href="index?search_tag={{ t.id }}" >{{ t.name }}</a>,
        {% endfor %}


    <br>ANSWERS( {{ obj.answers.all|length }})
    {% for an in  obj.answers.all %}
        <br> %USERNAME% : {{ an.content }}
    {% endfor %}

    <form action="details_add_answer" method="POST">{% csrf_token %}
    <input type="text" name="content">
        <input type = "hidden" name="qst_id" value="{{ obj.id }}">
    <input type="submit" value="Додати відповідь">
    </form>

{% endblock %}