{% extends "base.html" %}
{% block title_block %}
Список питань
{% endblock %}

{% block main_content %}

            <div id="mainbar">
                <div class="subheader">
                    <h1 id="h-all-questions">Список питань</h1>
                </div>
                <div id="questions">

                    <!-- This item must be iterated -->
                    <!-- Item without author -->
                    <div class="question-summary" id="question-summary-27361269">
                        <div class="statscontainer">
                            <div class="statsarrow"></div>
                            <div class="stats">
                                <div class="vote">
                                    <div class="votes">
                                        <span class="vote-count-post"> <strong><!-- Votes count -->0<!-- Votes count end --></strong></span>
                                        <div class="viewcount">votes</div>
                                    </div>
                                </div>
                                <div class="status unanswered"> <strong><!-- Answers count -->0<!-- Answers count end --></strong> answers</div>
                            </div>
                            <div class="views " title="3 views"><!-- Views count -->3<!-- Views count --> views</div>
                        </div>
                        <div class="summary">
                            <h3>
                                <a href="" class="question-hyperlink">
                                    <!-- Title of question -->Title<!-- Title of question end -->
                                </a>
                            </h3>
                            <div class="excerpt">
                                <!-- Question -->Question?<!-- Question end -->
                            </div>
                            <!-- Tags -->
                            <div class="tags t-android t-parseûcom t-parse-android-sdk">
                                <a href="" class="post-tag" title="" rel="tag">Tag 1</a>
                                <a href="" class="post-tag" title="" rel="tag">Tag 2</a>
                                <a href="" class="post-tag" title="" rel="tag">Tag 3</a>
                            </div>
                            <!-- Tags end -->
                        </div>
                    </div>

                    <!-- Item with author -->
                    {% for q in obj_list %}
                    <div class="question-summary" id="question-summary-27361268">
                        <div class="statscontainer">
                            <div class="statsarrow"></div>
                            <div class="stats">
                                <div class="vote">
                                    <div class="votes">
                                        <span class="vote-count-post"> <strong><!-- Votes count -->0<!-- Votes count end --></strong></span>
                                        <div class="viewcount">votes</div>
                                    </div>
                                </div>
                                <div class="status unanswered"> <strong><!-- Answers count -->0<!-- Answers count end --></strong> answers</div>
                            </div>
                            <div class="views " title="3 views"><!-- Views count -->3<!-- Views count --> views</div>
                        </div>
                        <div class="summary">
                           <h3>
                                <a href="" class="question-hyperlink">
                                    <!-- Title of question -->Title<!-- Title of question end -->
                                </a>
                            </h3>
                            <div class="excerpt">
                                <!-- Question -->Question?<!-- Question end -->
                            </div>
                            <!-- Tags -->
                            <div class="tags t-android t-parseûcom t-parse-android-sdk">
                                <a href="" class="post-tag" title="" rel="tag">Tag 1</a>
                                <a href="" class="post-tag" title="" rel="tag">Tag 2</a>
                                <a href="" class="post-tag" title="" rel="tag">Tag 3</a>
                            </div>
                            <!-- Tags end -->
                            <div class="started fr">
                                <div class="user-info ">
                                    <div class="user-action-time">
                                        asked
                                        <span title="2014-12-08 15:29:33Z" class="relativetime"><!-- Time -->39 secs ago<!-- Time end --></span>
                                    </div>
                                    <div class="user-gravatar32">
                                        <a href="link_to_user">
                                            <div>
                                                <img src="path_to_user_img.jpg" alt="" width="32" height="32"></div>
                                        </a>
                                    </div>
                                    <div class="user-details">
                                        <a href="link_to_user"><!-- Username -->User<!-- Username end --></a>
                                        <br>
                                        <span class="reputation-score" title="reputation score " dir="ltr"><!-- Reputation -->47<!-- Reputation end --></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

{% endblock %}



{#{% extends "base.html" %}#}
{#{% block title_block %}#}
{#Список питань#}
{#{% endblock %}#}
{##}
{##}
{#{% block main_content %}#}
{##}
{#    {% for q in obj_list %}#}
{#        <p> <a href="details?id={{ q.id }}"> {{ q.title  }} </a>    ({{ q.answers.all  | length }} відповідей)  </p> {# Возможно полная хуйня с количесвтом ответов #}
{##}
{#    {% endfor %}#}
{#{% endblock %}#}