{% extends "base.html" %}
{% block main_content %}
<div id="mainbar-full" class="login-page">

    <div>
            <!-- Title > --><h2 class="title">Реєстрація</h2>

            <div id="se-login" class="preferred-login" style="">
                <!-- Type link to receiver of form data in "action" > --><form id="se-login-form" action="register" method="POST"> {% csrf_token %}

                    <div class="form-bottom">
                        <div>
                            <input name="username" placeholder="Логін" type="text" size="30" maxlength="100">
                        </div>
                        <div>
                            <input name="password" placeholder="Пароль" type="password" value="">
                        </div>
                        <div class="form-submit cbt">
                            <input id="submit-button" name="submit-button" type="submit" value="Зареєструватись">
                        </div>
                    </div>
                </form>
            </div>


    </div>
</div>
{% endblock %}